!!! 5
%html
  %head
    %title
      = 'UniCalc'

    = favicon_link_tag asset_path('favicon.png'), rel: 'icon', type:  'image/png'

    = tag 'meta', {content: "width=device-width, initial-scale=1.0", name: "viewport"}, true
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{style: 'margin: 0px'}
    = yield
